<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.myssm.dao.UserMapper">
	<resultMap type="User" id="userMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="address" column="address"/>
	</resultMap>
	
	<select id="userAllSelect" resultMap="userMap">
		select * from ms_user
	</select>
	
</mapper>









